<div class="parent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>CHILL BOX</h1>

        <div class="row" id="game-list">
          <div class="col-md-4">
            <div class="card">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Juegos%20Articulos%2FJourney.webp?alt=media&token=97bf67a8-d71f-4fe4-b983-643d5c5f9836"
                class="card-img-top"
                alt="Journey"
              />
              <div class="card-body">
                <h5 class="card-title">Journey</h5>
                <p class="card-text">94% positivo en Steam</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Juegos%20Articulos%2FA%20shot%20Hike.webp?alt=media&token=207a8a69-8515-43ca-8ae9-471b96cec0eb"
                class="card-img-top"
                alt="A Short Hike"
              />
              <div class="card-body">
                <h5 class="card-title">A Short Hike</h5>
                <p class="card-text">99% positivo en Steam</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Juegos%20Articulos%2FThe%20Tourist.webp?alt=media&token=56cae066-1eab-4466-a7ad-50047812375c"
                class="card-img-top"
                alt="The Tourist"
              />
              <div class="card-body">
                <h5 class="card-title">The Tourist</h5>
                <p class="card-text">86% positivo en Steam</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Juegos%20Articulos%2FUnpacking.webp?alt=media&token=73baadb6-d5f5-4a71-accf-c22f9f2a2e29"
                class="card-img-top"
                alt="Unpacking"
              />
              <div class="card-body">
                <h5 class="card-title">Unpacking</h5>
                <p class="card-text">93% positivo en Steam</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Juegos%20Articulos%2FCoffe%20Talk.webp?alt=media&token=982c0996-bf73-44c5-86cc-eff56e9155f1"
                class="card-img-top"
                alt="Caffe Talk"
              />
              <div class="card-body">
                <h5 class="card-title">Caffe Talk</h5>
                <p class="card-text">95% positivo en Steam</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Juegos%20Articulos%2FJusant.webp?alt=media&token=5d2b518d-87e1-41ef-9dec-c2fcdb65f1ff"
                class="card-img-top"
                alt="Jusant"
              />
              <div class="card-body">
                <h5 class="card-title">Jusant</h5>
                <p class="card-text">94% positivo en Steam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" data-category="videojuegos">
        <div class="bundle-info">
          <h3>Tómatelo con calma</h3>
          <p>
            Relájate con este box, diseñado para la relajación y la
            introspección, con juegos que ofrecen experiencias tranquilas y
            meditativas.
          </p>
          <div class="pricing-options">
            <button class="btn btn-secondary" (click)="filterCards('all')">
              1 €
            </button>
            <button
              class="btn btn-secondary filterBoxes"
              (click)="updatePrice(4.61)"
            >
              4,61 €
            </button>
            <button class="btn btn-secondary">
              13,84 €
            </button>
            <button class="btn btn-secondary">
              25 €
            </button>
            <button class="btn btn-secondary">
              30 €
            </button>
            <button class="btn btn-secondary">
              35 €
            </button>

            <input
              type="number"
              class="form-control"
              [(value)]="customPrice"
              placeholder="Otro importe"
              (input)="onCustomPriceChange($event)"
            />
          </div>
          <button class="btn btn-primary">Realizar pedido</button>
          <div class="countdown">
            <h4>Tiempo restante para que acabe el box:</h4>
            <div id="countdown-timer">
              <h2>{{ countdown }}</h2>
            </div>
          </div>
          <div class="donation-info">
            <h4>Organización benéfica</h4>
            <p>
              Este box apoya a
              <a href="https://consaludmental.org/"
                >Confederación Salud Mental España</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
