<nav class="navbar">
  <div class="container-fluid">
    <a routerLink="inicio" class="navbar-brand logo">
      <div class="logo-wrapper">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/JOYBOX%20LOGOTIPO.png?alt=media&token=1e9fa176-68dc-4794-a1dc-1f460248a14e "
          alt="Joybox Logo"
          class="logo"
        />
      </div>
    </a>
    <div class="navbar-menu">
 
      <a class="nav-link" routerLink="box">Boxes</a>
      <a class="nav-link" routerLink="about">About</a>
      <a class="nav-link header-right" routerLink="carrito"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"  fill="white" clip-rule="evenodd"><path d="M13.5 18c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm-3.5 1.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm13.257-14.5h-1.929l-3.473 12h-13.239l-4.616-11h2.169l3.776 9h10.428l3.432-12h4.195l-.743 2zm-13.537 4.183l-2.325-2.183-1.395 1.435 3.746 3.565 6.559-6.592-1.422-1.408-5.163 5.183z"/></svg></a>
    </div>
    <div class="header-right">
      <a class="navklink"routerLink="login" *ngIf="authService.isLoggedIn()">
        <p>{{ authService.getUsername() | uppercase }}!</p></a>
    </div>

    <div class="header-right" *ngIf="authService.isLoggedIn() === false">
      <a class="nav-link" routerLink="login">Iniciar Sesión</a>
   
    </div>
  </div>
</nav>
