<!DOCTYPE html>
<!-- Contenido Principal -->
<div class="container-custom">
  <h1>Carrito de Compra</h1>
  
  <!-- Tabla para mostrar los productos -->
  <div class="table-custom">
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí se agregarán dinámicamente los productos -->
      </tbody>
    </table>
  </div>
  
  <!-- Mensaje de carrito vacío -->
  <div class="empty-cart-msg" id="emptyCartMessage">
    Tu carrito está vacío.
  </div>
  
  <!-- Botón de checkout con el enlace a pagar-->
  <button class="checkout-btn">Checkout</button>
</div>

