.parent {  background-color: #4b4b4b;
  padding: 180px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 170px;
  }
  input {
    width: calc(100% - 10px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    width: calc(100% - 10px);
    padding: 10px;
    margin: 10px;
    background-color: #ec0909;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #be1717;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  
  input,
  p,
  button {
    font-size: 18px;
  }

  h1,h2,h3,h4,h5,h6,p{
    text-align: center;
    color: white;
  }

  