<div class="parent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>{{ box.title }}</h1>
        <div class="row" id="game-list">
          <div class="col-md-4 game-card" *ngFor="let game of displayedGames">
            <div class="card">
              <img [src]="game.img" class="card-img-top" [alt]="game.title" />
              <div class="card-body">
                <h5 class="card-title">{{ game.title }}</h5>
                <p class="card-text">{{ game.rating }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bundle-info">
          <h3>La naturaleza es bella</h3>
          <p>{{ box.description }}</p>
          <div class="pricing-options">
            <button class="btn btn-secondary" (click)="filterGames(1)">
              1 €
            </button>
            <button class="btn btn-secondary" (click)="filterGames(2)">
              4,61 €
            </button>
            <button class="btn btn-secondary" (click)="filterGames(3)">
              13,84 €
            </button>
            <button class="btn btn-secondary" (click)="filterGames(4)">
              25 €
            </button>
            <button class="btn btn-secondary" (click)="filterGames(5)">
              30 €
            </button>
            <button class="btn btn-secondary" (click)="filterGames(6)">
              35 €
            </button>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="customPrice"
              placeholder="Otro importe"
              (input)="onCustomPriceChange($event)"
            />
          </div>
          <button class="btn btn-primary" (click)="addToCart(box)">Realizar pedido</button>
          <div class="countdown">
            <h4>Tiempo restante para que acabe el box:</h4>
            <div id="countdown-timer">
              <h2>{{ countdown }}</h2>
            </div>
          </div>
          <div class="donation-info">
            <h4>Organización benéfica</h4>
            <p>
              Este box apoya a
              <a href="https://www.greenpeace.org/">Green Peace</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
