<div class="container-custom">
    <div class="row mb-4 content-wrapper">
      <div class="col-md-12">
        <h1 class="page-title animated-title">About</h1> <!-- Título principal centrado -->
        <p class="intro-text animated-text">
          Vendemos juegos, libros electrónicos, software y otros contenidos digitales. Nuestra misión es apoyar causas benéficas mientras proporcionamos contenidos alucinantes a los clientes a precios asequibles. Creemos en la importancia de combinar entretenimiento y caridad para crear un impacto positivo en la sociedad. Al comprar en nuestra tienda, no solo adquieres productos de alta calidad, sino que también contribuyes a una causa mayor.
        </p>
        <img src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/joyboxLogoCONTENEDORPEQUE%C3%91O.png?alt=media&token=b3b86746-2969-4211-bf3a-af0b7be4c055" alt="Joybox Logo" class="main-image large-logo animated-image"> <!-- Imagen principal -->
      </div>
    </div>
  
    <h3 class="center-title">¿Quiénes somos?</h3>
    <div class="row content-wrapper justify-content-center">
      <div class="col-md-4 text-center">
        <a href="https://github.com/MejiasDiego" target="_blank">
          <div class="box mx-auto animated-box">
            <div class="inner-content">
              <img id="image2" src="https://pbs.twimg.com/profile_images/1754799654649184256/vMK7ZONW_400x400.png" alt="Diego" class="hover-zoom">
            </div>
          </div>
        </a>
        <p class="center-title">Diego</p>
        <p>Desarrollador Full Stack con experiencia en tecnologías como Angular, Node.js y MongoDB. Apasionado por crear aplicaciones web intuitivas y eficientes.</p>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://github.com/ToniMGalera" target="_blank">
          <div class="box mx-auto animated-box">
            <div class="inner-content">
              <img id="image3" src="https://avatars.githubusercontent.com/u/158508833?v=4" alt="Toni" class="hover-zoom">
            </div>
          </div>
        </a>
        <p class="center-title">Toni</p>
        <p>Ingeniero de Software especializado en frontend. Experto en React, Vue.js y diseño de interfaces de usuario. Le encanta transformar ideas en productos digitales atractivos.</p>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://github.com/LaiaBi" target="_blank">
          <div class="box mx-auto animated-box">
            <div class="inner-content">
              <img id="image4" src="https://avatars.githubusercontent.com/u/158473760?v=4" alt="Laia" class="hover-zoom">
            </div>
          </div>
        </a>
        <p class="center-title">Laia</p>
        <p>Arquitecta de Software con una sólida formación en backend. Conocimiento profundo en Java, Python y bases de datos SQL. Dedicada a construir sistemas robustos y escalables.</p>
      </div>
    </div>
  
    <h3 class="center-title">ONG's que Colaboran con Nosotros</h3>
  <div class="row content-wrapper justify-content-center">
    <div class="col-md-8 text-center">
      <a href="https://fedas.es/" target="_blank">
        <div class="box box-square mx-auto animated-box">
          <div class="inner-content">
            <img src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/FEDAS.jpg?alt=media&token=1d3bf4aa-7e5a-4180-8ad8-59f718e47fe6" alt="Fedas" class="hover-zoom square">
          </div>
        </div>
      </a>
      <p class="center-title">Fedas</p>
      <p>La Federación Madrileña de Actividades Subacuáticas (FMDAS), es la organización que representa a los deportistas adscritos a esta organización en las actividades subacuáticas dentro de la Comunidad de Madrid. Está integrada dentro de la Federación Española de Actividades Subacuáticas (FEDAS), estando estructurada en varios comités dependiendo de la actividad de la que se trate.</p>
    </div>
    <div class="col-md-8 text-center">
      <a href="https://redi.es/" target="_blank">
        <div class="box box-square mx-auto animated-box">
          <div class="inner-content">
            <img src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/REDI.jpg?alt=media&token=1d4445e7-1728-44c6-b30d-7c6ac8154630" alt="REDI" class="hover-zoom square">
          </div>
        </div>
      </a>
      <p class="center-title">REDI</p>
      <p>REDI es una asociación que tiene como finalidad promover el interés general, contribuyendo a una sociedad española más respetuosa mediante el fomento de la no discriminación e igualdad de oportunidades.

          Fue creada en junio de 2015, inspirada en iniciativas similares internacionales. En febrero de 2018 obtiene forma jurídica como Asociación al amparo de la Ley Orgánica 1/2002, de 22 de marzo, y se rige por las normas que se establecen en la Ley, sus estatutos y su reglamento interno. La Asociación tiene carácter apolítico y carece de ánimo de lucro.
          
          Mediante el acompañamiento a sus asociadas, REDI activa y potencia espacios de trabajo respetuosos, inclusivos y seguros para que se valore el talento, con independencia de su identidad, características sexuales, expresión de género u orientación sexual.</p>
    </div>
    <div class="col-md-8 text-center">
      <a href="https://www.juegaterapia.org/" target="_blank">
        <div class="box box-square mx-auto animated-box">
          <div class="inner-content">
            <img src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/JUEGATERAPIA.jpg?alt=media&token=d59f7e04-e582-4941-a761-d9873f3f4057" alt="Juegaterapia" class="hover-zoom square">
          </div>
        </div>
      </a>
      <p class="center-title">Juegaterapia</p>
      <p>Juegaterapia es una organización sin fines de lucro con sede en España, dedicada a mejorar la calidad de vida de los niños con cáncer. Fundada en 2010, la organización se enfoca en proporcionar consolas de videojuegos y otros medios de entretenimiento a niños hospitalizados, con el fin de hacer más llevadera su estancia en el hospital y contribuir a su bienestar emocional. Además, Juegaterapia lleva a cabo proyectos como la construcción de jardines y áreas de juegos en hospitales, conocidas como "El Jardín de mi Hospi", para crear espacios donde los niños puedan disfrutar y distraerse durante sus tratamientos. La organización también promueve campañas de concienciación y recauda fondos para seguir ampliando sus iniciativas en beneficio de los niños enfermos.</p>
    </div>
    <div class="col-md-8 text-center">
      <a href="https://www.greenpeace.org/" target="_blank">
        <div class="box box-square mx-auto animated-box">
          <div class="inner-content">
            <img src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/GREENPEACE.jpg?alt=media&token=e7929f96-6c85-4d03-8267-9a1505e0ae48" alt="Greenpeace" class="hover-zoom square">
          </div>
        </div>
      </a>
      <p class="center-title">Greenpeace</p>
      <p>Greenpeace es una ONG​ ambientalista internacional. Realiza campañas en todo el mundo por temas como la agricultura ecológica, los bosques, el cambio climático, contra el consumismo, por la democracia y el contrapoder, el desarme y la paz y el cuidado de los océanos.</p>
    </div>
    <div class="col-md-8 text-center">
      <a href="https://www.clowns.org/" target="_blank">
        <div class="box box-square mx-auto animated-box">
          <div class="inner-content">
            <img src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/PAYASOS%20SIN%20FRONTERAS.jpg?alt=media&token=9d6485d8-0698-4339-b970-75dd29333881" alt="Payasos Sin Fronteras" class="hover-zoom square">
          </div>
        </div>
      </a>
      <p class="center-title">Payasos Sin Fronteras</p>
      <p>La misión de PSF consiste en mejorar la situación emocional de la infancia que padece las consecuencias de conflictos armados, guerras o catástrofes naturales; mediante espectáculos cómicos realizados por payasos y payasas profesionales voluntarios.

          Payasos Sin Fronteras desarrolla su actuación tanto a nivel nacional a favor de la infancia más desfavorecida en el estado español como a nivel internacional para la infancia refugiada y desplazada afectada por conflictos armados y desastres naturales.</p>
    </div>
    <div class="col-md-8 text-center">
      <a href="https://consaludmental.org/" target="_blank">
        <div class="box box-square mx-auto animated-box">
          <div class="inner-content">
            <img src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/CONFEDERACI%C3%93N%20SALUD%20MENTAL.jpg?alt=media&token=f546a6e5-c8aa-4741-afab-8f36333b0d85" alt="CONFEDERACIÓN SALUD MENTAL ESPAÑA" class="hover-zoom square">
          </div>
        </div>
      </a>
      <p class="center-title">CONFEDERACIÓN SALUD MENTAL ESPAÑA</p>
      <p>La Confederación SALUD MENTAL ESPAÑA es una entidad sin ánimo de lucro y de interés social que surgió en 1983. En la actualidad, integramos a 18 federaciones autonómicas y asociaciones uniprovinciales, las cuales agrupan a más de 340 asociaciones y suman más de 60.000 socios y socias en todo el territorio estatal.

          Desde junio del año 2015 FEAFES pasa a denominarse Confederación SALUD MENTAL ESPAÑA, ofreciendo a la sociedad una visión positiva, que se acerca más al concepto de “salud mental” y se aleja del de “enfermedad mental. De esta forma, se propicia que el conjunto de la sociedad se sienta interpelada directamente por el mensaje de la Confederación, ya que el nuevo nombre diluye la diferenciación entre personas sanas y personas con enfermedad, en tanto que todos debemos cuidar la salud mental.</p>
    </div>
  </div>
</div>

  