<div class="parent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>JAVA BOX</h1>

        <div class="row" id="book-list">
          <div class="col-md-4" *ngFor="let book of displayedBooks">
            <div class="card">
              <img [src]="book.img" class="card-img-top" [alt]="book.title" />
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.rating }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bundle-info">
          <h3>Aprende a programar Java</h3>
          <p>
            En este box podrás aprender todo sobre Java y aprenderás a programar.
          </p>
          <div class="pricing-options">
            <button class="btn btn-secondary" (click)="filterBooks(1)">
              1 €
            </button>
            <button class="btn btn-secondary" (click)="filterBooks(2)">
              4,61 €
            </button>
            <button class="btn btn-secondary" (click)="filterBooks(3)">
              13,84 €
            </button>
            <button class="btn btn-secondary" (click)="filterBooks(4)">
              25 €
            </button>
            <button class="btn btn-secondary" (click)="filterBooks(5)">
              30 €
            </button>
            <button class="btn btn-secondary" (click)="filterBooks(6)">
              35 €
            </button>

            <input
              type="number"
              class="form-control"
              [(ngModel)]="customPrice"
              placeholder="Otro importe"
              (input)="onCustomPriceChange($event)"
            />
          </div>
          <button class="btn btn-primary">Realizar pedido</button>
          <div class="countdown">
            <h4>Tiempo restante para que acabe el box:</h4>
            <div id="countdown-timer">
              <h2>{{ countdown }}</h2>
            </div>
          </div>
          <div class="donation-info">
            <h4>Organización benéfica</h4>
            <p>
              Este box apoya a
              <a href="https://code.org/">code</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
