<div class="container-custom">
  <h2>Carrito de Compras</h2>
  <table class="table table-custom">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="selectedBox">
      <tr>
        <td>
          <img
            [src]="selectedBox.img"
            alt="{{ selectedBox.title }}"
            class="product-img"
          />
        </td>
        <td>{{ selectedBox.title }}</td>
        <td>{{ selectedBox.price | currency : "EUR" }}</td>
        <td>
          <input
            type="number"
            class="quantity-input"
            [(ngModel)]="quantity"
            (change)="updateTotal()"
            min="1"
          />
        </td>
        <td>{{ selectedBox.price * quantity | currency : "EUR" }}</td>
        <td>
          <span class="delete-btn" (click)="clearCart()">Eliminar</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!selectedBox" class="empty-cart-msg">
    <p>Tu carrito está vacío</p>
  </div>
  <div *ngIf="selectedBox" class="checkout-btn-container">
    <button class="btn checkout-btn" (click)="showPaymentForm = true">
      Proceder al pago
    </button>
  </div>

  <!-- Formulario de Pago Simulado -->
  <div *ngIf="showPaymentForm" class="payment-form">
    <h3>Formulario de Pago</h3>
    <form (submit)="submitPayment($event)">
      <div class="form-group">
        <label for="cardNumber">Número de Tarjeta</label>
        <input
          type="text"
          id="cardNumber"
          [(ngModel)]="paymentInfo.cardNumber"
          name="cardNumber"
          required
        />
      </div>
      <div class="form-group">
        <label for="expiryDate">Fecha de Expiración</label>
        <input
          type="text"
          id="expiryDate"
          [(ngModel)]="paymentInfo.expiryDate"
          name="expiryDate"
          required
        />
      </div>
      <div class="form-group">
        <label for="cvv">CVV</label>
        <input
          type="text"
          id="cvv"
          [(ngModel)]="paymentInfo.cvv"
          name="cvv"
          required
        />
      </div>
      <div class="form-group">
        <label for="correo">Correo electrónico:</label>
        <input
          type="text"
          id="correo"
          [(ngModel)]="paymentInfo.correo"
          name="correo"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Pagar</button>
    </form>
  </div>
</div>
