<div class="container-custom">
  <h1 class="header-title">Boxes</h1>
  <div class="container mt-5">
    <div class="texto-derecha">
      <p>
        Nuestras boxes son colecciones de videojuegos y libros disponibles por
        tiempo limitado. Paga lo que desees por ellas y decide a dónde destinar
        el dinero, incluyendo donaciones a organizaciones benéficas. Muchas de
        las cajas están divididas en tramos, con un precio inicial de solo 1 €.
        ¡Cuanto más des, más recibirás!
      </p>
    </div>
    <div class="col-md-5 image-container">
      <div class="feedback">
        <img src="" alt="" />
      </div>
    </div>
  </div>
  <div class="filter-buttons row justify-content-center">
    <button class="btn btn-secondary active" (click)="filterBoxes('all')">
      Todos los boxes
    </button>
    <button class="btn btn-secondary" (click)="filterBoxes('videojuegos')">
      Videojuegos
    </button>
    <button class="btn btn-secondary" (click)="filterBoxes('libros')">
      Libros
    </button>
  </div>
  <div class="row justify-content-center">
    <!-- Primer grupo de packs -->
    <div class="col-lg-4 box" data-category="videojuegos">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Eco_Box.jpg?alt=media&token=4b1037e4-9a04-4316-9787-c64ee392749b"
        alt="ECO BOX"
      />
      <div class="game-names">
        <p>
          ~Este box contiene juegos como Stardew Valley, Firewatch, Farming
          Simulator, entre otros, que promueven la protección del medio ambiente
          y la conexión con la naturaleza a través de simulaciones y narrativas
          envolventes.~<br><br>
          <button class="verBox" type="button"><a href="ecobox">Ver box</a></button>
        </p>
      </div>
      <div class="countdown" data-end-time="2024-07-20T00:00:00Z">
        ECO BOX<br /><span class="time-remaining"></span>
      </div>
      <div class="cta"></div>
    </div>

    <div class="col-lg-4 box" data-category="videojuegos">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Under_Box.jpg?alt=media&token=e1194e70-4d4b-4ddc-a5fd-029f0e71f7bf"
        alt="UNDER BOX"
      />
      <div class="game-names">
        <p>
          ~Este box incluye juegos como Subnautica, Dave the Diver, Raft, entre
          otros, que permiten explorar y salvar el océano a través de aventuras
          submarinas y la gestión de recursos.~<br><br>
          <button class="verBox" type="button"><a href="underbox">Ver box</a></button>
        </p>
      </div>
      <div class="countdown" data-end-time="2024-07-21T00:00:00Z">
        UNDER BOX<br /><span class="time-remaining"></span>
      </div>
    </div>
    
    <div class="col-lg-4 box" data-category="videojuegos">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Chill_Box.jpg?alt=media&token=8b7a68a9-b870-4956-8262-897a0a790271"
        alt="CHILL BOX"
      />
      <div class="game-names">
        <p>
          ~Este box está diseñado para la relajación y la introspección, con
          juegos como Journey, A Short Hike, The Tourist, Unpacking, Coffee Talk,
          Jusant, que ofrecen experiencias tranquilas y meditativas.~<br><br>
          <button class="verBox" type="button"><a href="chillbox">Ver box</a></button>
        </p>
      </div>
      <div class="countdown" data-end-time="2024-07-22T00:00:00Z">
        CHILL BOX<br /><span class="time-remaining"></span>
      </div>
    </div>
    
    <div class="col-lg-4 box" data-category="videojuegos">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Neutral_Box.jpg?alt=media&token=75a998ff-6c9a-408f-9375-9feca933f96f"
        alt="NEUTRAL BOX"
      />
      <div class="game-names">
        <p>
          ~Este box celebra la diversidad y la inclusión con juegos como Life is
          Strange 3: Three Colours, Tell me Why, Celeste, Undertale, The Outer
          Worlds, que abordan temas LGBTI y ofrecen historias poderosas y
          emotivas.~<br><br>
          <button class="verBox" type="button"><a href="neutralbox">Ver box</a></button>
        </p>
      </div>
      <div class="countdown" data-end-time="2024-07-23T00:00:00Z">
        NEUTRAL BOX<br /><span class="time-remaining"></span>
      </div>
    </div>
    
    <div class="col-lg-4 box" data-category="videojuegos">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Peace_Box.jpg?alt=media&token=c12dd655-aeb3-4e6f-8544-844eefa02c7c"
        alt="PEACE BOX"
      />
      <div class="game-names">
        <p>
          ~Este box incluye juegos impactantes como Papers Please, This War of
          Mine, Detroit: Become Human, Never Alone, My Child Lebensborn, Bury Me,
          My Love, que abordan las consecuencias de la guerra y promueven la
          empatía y la reflexión.~<br><br>
          <button class="verBox" type="button"><a href="peacebox">Ver box</a></button>
        </p>
      </div>
      <div class="countdown" data-end-time="2024-07-24T00:00:00Z">
        PEACE BOX<br /><span class="time-remaining"></span>
      </div>
    </div>
    
    <div class="col-lg-4 box" data-category="videojuegos">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/Mirror_Box.jpg?alt=media&token=18df8d46-443c-4ffd-bcd3-3d683cc97e7b"
        alt="MIRROR BOX"
      />
      <div class="game-names">
        <p>
          ~Este box promueve la paz y la justicia con juegos como Reigns,
          Minecraft, Phoenix Wright: Ace Attorney, Pentiment, Disco Elysium, Never
          Alone, que ofrecen experiencias únicas centradas en la resolución de
          conflictos y la creatividad.~<br><br>
          <button class="verBox" type="button"><a href="mirrorbox">Ver box</a></button>
        </p>
      </div>
      <div class="countdown" data-end-time="2024-07-25T00:00:00Z">
        MIRROR BOX<br /><span class="time-remaining"></span>
      </div>
    </div>
    
    <div class="col-lg-4 box" data-category="libros">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/JAVABOX.jpg?alt=media&token=34140d55-e10c-4264-896b-6940bef13f1a"
        alt="JAVA BOX"
      />
      <div class="game-names">
        <p>
          ~Un paquete de libros esenciales para aprender Java desde cero.~<br><br>
          <button class="verBox" type="button"><a href="javabox">Ver box</a></button>
        </p>
      </div>
      <div class="countdown" data-end-time="2024-07-26T00:00:00Z">
        JAVA BOX<br /><span class="time-remaining"></span>
      </div>
    </div>
    
    <div class="col-lg-4 box" data-category="libros">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/SPRINGBOX.jpg?alt=media&token=0c156ba8-fbf0-47fb-bdc4-793982008bbf"
        alt="SPRING BOX"
      />
      <div class="game-names">
        <p>
          ~Un conjunto de libros fundamentales para empezar con el framework
          Spring.~<br><br>
          <button class="verBox" type="button"><a href="springbox">Ver box</a></button>
        </p>
      </div>
      <div class="countdown" data-end-time="2024-07-27T00:00:00Z">
        SPRING BOX<br /><span class="time-remaining"></span>
      </div>
    </div>
    
    <div class="col-lg-4 box" data-category="libros">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/joybox-678b1.appspot.com/o/.NETBOX.jpg?alt=media&token=facb12a4-2c4e-40ca-af20-158fb89971f4"
        alt=".NET BOX"
      />
      <div class="game-names">
        <p>
          ~Una colección de libros básicos para iniciarse en el desarrollo con
          .NET.~<br><br>
          <button class="verBox" type="button"><a href="netbox">Ver box</a></button>
        </p>
      </div>
      <div class="countdown" data-end-time="2024-07-28T00:00:00Z">
        .NET BOX<br /><span class="time-remaining"></span>
      </div>
    </div>
  </div>
</div>
