.container-custom {
  background-color: #4b4b4b;
  padding: 20px;
  color: #ffffff;
  min-height: calc(100vh - 110px);
}

.box {
  background-color: #555555;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 350px; /* Aumentado el ancho máximo */
}

.box img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.5s ease;
  border-radius: 10px; /* Imágenes redondeadas */
}

.box .game-names {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 15px;
  box-sizing: border-box;
}

.box:hover .game-names {
  opacity: 1;
}

.countdown {
  margin-top: 10px;
  font-size: 1.2em;
  background-color: #333333;
  padding: 10px;
  border-radius: 5px;
}

.feedback {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.feedback img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Imágenes redondeadas */
}

.bottom-section {
  text-align: center;
  margin-top: 30px;
  font-size: 1.5em;
}

.row p {
  font-size: 1.1em; /* Incrementa el tamaño de fuente del texto */
  line-height: 1.5em; /* Incrementa el interlineado */
}

.text-container {
  max-width: 60%; /* Ajusta el ancho del contenedor de texto */
  text-align: justify; /* Justifica el texto */
}

.image-container {
  max-width: 40%; /* Ajusta el ancho del contenedor de imagen */
}

.promo-text {
  text-align: left;
  margin-bottom: 20px;
}

.promo-text h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.promo-button {
  text-align: left;
  margin-top: 20px;
}

.toggle-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  color: #ffffff;
}

.toggle-button .arrow {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.hidden-text {
  display: none;
  margin-top: 20px;
  font-size: 1em;
  color: #ffffff;
  text-align: justify; /* Justifica el texto */
  margin-left: 100px; /* Ajusta este valor para mover el texto a la derecha */
  width: 70%; /* Ajusta el ancho del contenedor de texto */
}

.expandable-content {
  display: none;
  margin-top: 20px;
  font-size: 1em;
  color: #ffffff;
}

.expanded .expandable-content {
  display: block;
}

.header-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ec0909;
  font-family: "Arial", sans-serif;
  text-align: left; /* Puedes cambiarlo a 'center' o 'right' según prefieras */
  margin-left: 100px; /* Ajusta este valor para mover el título a la derecha */
}

.texto-derecha {
  margin-left: -170px; /* Ajusta este valor según lo necesites */
  width: 70%; /* Ajusta este valor según lo necesites */
}

/* Media Queries para Responsividad */
@media (max-width: 1200px) {
  .text-container {
    max-width: 100%; /* Ajusta el ancho del contenedor de texto */
  }

  .image-container {
    max-width: 100%; /* Ajusta el ancho del contenedor de imagen */
  }

  .hidden-text,
  .header-title,
  .texto-derecha {
    margin-left: 0; /* Eliminar el margen izquierdo en pantallas más pequeñas */
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container-custom {
    margin-top: 70px; /* Ajusta el margen superior en pantallas más pequeñas */
  }

  .box,
  .main-image-box {
    height: auto; /* Permitir que la altura se ajuste automáticamente */
  }

  .highlight,
  .highlight-right {
    display: none; /* Ocultar los botones de cambio de imagen en pantallas pequeñas */
  }

  .row p {
    font-size: 1em; /* Reduce el tamaño de fuente del texto */
    line-height: 1.4em; /* Reduce el interlineado */
  }

  .promo-text h1 {
    font-size: 1.5em; /* Reduce el tamaño de fuente del título */
  }

  .promo-button {
    text-align: center; /* Centrar el botón */
  }

  .toggle-button {
    justify-content: center; /* Centrar el botón de alternar */
  }

  .header-title {
    text-align: center; /* Centrar el título en pantallas pequeñas */
    margin-left: 0; /* Eliminar el margen izquierdo */
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 20px; /* Reduce el tamaño de fuente del logotipo */
  }

  .navbar-nav .nav-link,
  .btn {
    font-size: 0.8em; /* Reduce el tamaño de fuente de los enlaces */
    padding: 5px 10px; /* Reduce el padding de los enlaces */
  }

  .countdown {
    font-size: 1em; /* Ajusta el tamaño de fuente del contador */
    padding: 8px; /* Ajusta el padding del contador */
  }

  .bottom-section {
    font-size: 1.2em; /* Ajusta el tamaño de fuente de la sección inferior */
  }

  .row p {
    font-size: 0.9em; /* Ajusta el tamaño de fuente del texto */
    line-height: 1.3em; /* Ajusta el interlineado */
  }

  .promo-text h1 {
    font-size: 1.2em; /* Ajusta el tamaño de fuente del título */
  }
}
.filter-buttons {
  text-align: center; /* Alinea los botones al centro */
  margin-bottom: 10px;
}

.filter-buttons .btn {
  font-size: 0.7em; /* Ajusta el tamaño de fuente de los botones */
  padding: 5px 8px; /* Ajusta el padding de los botones */
}
.filter-buttons .btn {
  font-size: 0.8em; /* Ajusta el tamaño de fuente de los botones */
  padding: 5px; /* Reduce el padding de los botones */
}
.filter-buttons .btn {
  margin: 2px;
  padding: 5px 10px; /* Añade un padding más estrecho */
  font-size: 0.9em;
}

.filter-buttons .btn.active {
  background-color: #ffffff;
  color: #2c2c2c;
}
